@page
@model IndexModel
@using GraduationWorksOrganizer.Common
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@if (User == null || !User.Identity.IsAuthenticated)
{
    <div class="grid-container">
        <p class="h2 text-center grid-title">
            Автоматична информационна
            система за управление на студентски задания
        </p>
        <div class="card grid-item">
            <p class="h4 card-header">Вход</p>
            <div class="card-body align-content-center">
                <form id="account" method="post">
                    <div class="form-group">
                        <label>Потребителско име</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Парола</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn-primary mb-5">Вход</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card grid-item">
            <p class="h4 card-header">Регистрация</p>
            <div class="card-body">
                <p class="text-center mt-5">
                    <a asp-area="Identity" asp-page="/Account/RegisterStudent">Към регистраиця за студенти</a>
                </p>
                <p class="text-center">или</p>
                <p class="text-center">
                    <a asp-area="Identity" asp-page="/Account/RegisterTeacher">Към регистраиця за учители</a>
                </p>
            </div>
        </div>
    </div>
}
else if (User.IsInRole(Common.Constants.RoleNames.StudentRole))
{
    <h4>описание на работа Стъдент</h4>
}
else if (User.IsInRole(Common.Constants.RoleNames.TeacherRole))
{
    <h4>описание на работа Преподажател</h4>
}

