table.table-border {
    width: 99%
}

    table.table-border > thead > tr > th {
        margin: 5px;
        background-color: #1b73ff;
        text-align: center;
    }

        table.table-border > thead > tr > th:first-child {
            border-top-left-radius: 4px;
            border-right-color: #1b73ff;
        }

        table.table-border > thead > tr > th:last-child {
            border-top-right-radius: 4px;
            border-left-color: #1b73ff;
        }

    table.table-border > thead > tr {
        background-color: #1b73ff;
    }

    table.table-border > tbody {
        border: 1px solid #1b73ff;
    }

        table.table-border > tbody > tr:nth-child(2n+1) {
            background-color: #e0e0e0;
        }

        table.table-border > tbody > tr:hover {
            background-color: #e9e9e9;
            color: #000000;
        }

        table.table-border > tbody > tr > td {
            color: #1b1b1b;
        }


/* Dropdown Button */
.dropbtn {
    color: black;
    background: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: auto;
    z-index: 1;
    word-break: keep-all;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        background: white;
        padding: 4px 5px;
        text-decoration: none;
        display: block;
        white-space: nowrap;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #e9e9e9;
            color: #000000;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e9e9e9;
    color: #000000;
    border-radius: 5px;
}


textarea.multilineTextArea {
    width: 100%;
    min-height: 15em;
    white-space: pre-wrap;
    resize: none;
    overflow: auto;
}
