@page
@using GraduationWorksOrganizer.Web.Helpers
@model GraduationWorksOrganizer.Web.Areas.GraduationWork.Pages.AddThesesModel
@{
    ViewData["Title"] = "Добави тема";
}
<h1>@ViewData["Title"]</h1>
<hr />

<form method="post" class="helpinfodefault" data-helpmessagekey="defaulthelpmessage">
    <div class="row">
        <div class="col-md-11">
            <div class="helpinfo">
                <p class="font-weight-bold">Заглавие</p>
                <input class="form-control" asp-for="Input.Title" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group helpinfo">
                <p class="font-weight-bold"> Предмет</p>
                <select class="form-control" asp-for="Input.SubjectId" asp-items="@Html.GetEntityEnumSelectList(Model.Specialties)"></select>
                <span></span>
            </div>
            <div class="form-group helpinfo">
                <p class="font-weight-bold">Тип на заданието</p>
                <input class="form-control" asp-for="Input.Type" />
                <span asp-validation-for="Input.Type" class="text-danger"></span>
            </div>
            <div class="form-group helpinfo">
                <p class="font-weight-bold">Описание</p>
                <textarea class="multilineTextArea form-control resize" asp-for="Input.Description"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <p class="font-weight-bold">Изисквания</p>
            <table class="table table-bordered mb-0">
                <thead>
                    <tr>
                        <th style="width:85%">Описание</th>
                        <th style="width:10%">Tочки</th>
                        <th style="width:5%"></th>
                    </tr>
                </thead>
                <tbody id="requermentContent">
                    @if (Model.Input != null && Model.Input.Requerments != null && Model.Input.Requerments.Any())
                    {
                        for (int i = 0; i < Model.Input.Requerments.Count; i++)
                        {
                            <tr>
                                <td>
                                    <textarea class="form-control resize" asp-for="Input.Requerments[i].Description"></textarea>
                                </td>
                                <td>
                                    <input class="form-control" asp-for="Input.Requerments[i].MaxPointsCount" />
                                </td>
                                <td class="justify-content-center">
                                    <a class="row-delete"><img class="icon" src="~/images/deleteIcon.jpg" /></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <textarea class="form-control resize" asp-for="Input.Requerments[0].Description"></textarea>
                            </td>
                            <td>
                                <input class="form-control" asp-for="Input.Requerments[0].MaxPointsCount" />
                            </td>
                            <td class="justify-content-center">
                                <a class="row-delete"><img class="icon" src="~/images/deleteIcon.png" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <text class="text-dark">Общо точки:</text>
                        </td>
                        <td>
                            <text id="pointsSum" class="text-dark"></text>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <span />
            <hr />
            <span />
            <button type="submit" class="btn btn-primary">Добави</button>
            <a id="addRequermentButton" class="btn btn-light">Добави изискване</a>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div asp-validation-summary="All" class="text-danger"></div>
            <section>
                <h4 class="helptitle"></h4>
                <div>
                    <p class="helpcontent"></p>
                </div>
            </section>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/js/global/autoHeigthTextArea.js"></script>
    <script>
        $(document).ready(function () {
            $('#addRequermentButton').click(function () {
                AddRequermentRow();
                ResetIndexes();
            });
            $('.row-delete').each((index, element) => {
                $(element).on('click', OnRemoveRowAction);
            });
            $('#requermentContent').each((index, element) => {
                $(element.children).find("td input:text").each((index, element) => {
                    $(element).on('input', OnRequermentPointsChanged);
                });
            });
        })

        function AddRequermentRow() {
            let requermentContent = $('#requermentContent');
            const rowTemplate = GetNewRowItem();
            requermentContent.append(rowTemplate);
        }

        function GetNewRowItem() {
            let row = $('<tr></tr>');
            let desccell = $(`<td></td>`);
            let textArea = $(`<textarea class="form-control resize" type="text" value=""></textarea>`);
            RegisrerResizeHandler(textArea);
            desccell.append(textArea);
            row.append(desccell);
            let pointsInput = $(`<input class="form-control" type="text" data-val="true" data-val-number="The field MaxPointsCount must be a number." data-val-required="The MaxPointsCount field is required." value=""/>`);
            $(pointsInput).on('input', OnRequermentPointsChanged);
            let pointscell = $(`<td></td>`).append(pointsInput);
            row.append(pointscell);
            let aButton = $('<a></a>').append('<img class="icon" src="/images/deleteIcon.jpg" />');
            let cell = $('<td class="justify-content-center" ></td>');

            $(cell).append(aButton);
            $(row).append(cell);
            $(aButton).addClass("row-delete");
            $(aButton).on('click', OnRemoveRowAction);

            return row;
        }

        function ResetIndexes() {
            const descrId = (newRowIndex) => { return "Input_Requerments_" + newRowIndex + "__Description" };
            const pointsId = (newRowIndex) => { return "Input_Requerments_" + newRowIndex + "__MaxPointsCount" };
            const descrName = (newRowIndex) => { return "Input.Requerments[" + newRowIndex + "].Description" };
            const pointsName = (newRowIndex) => { return "Input.Requerments[" + newRowIndex + "].MaxPointsCount" };

            let tableRows = document.getElementById('requermentContent').children;
            for (let i = 0; i < tableRows.length; i++) {
                let descrInput = tableRows[i].children[0].getElementsByTagName('textarea')[0];
                let pointsInput = tableRows[i].children[1].getElementsByTagName('input')[0];

                descrInput.id = descrId(i);
                descrInput.name = descrName(i);
                pointsInput.id = pointsId(i);
                pointsInput.name = pointsName(i);
            }
        }

        function OnRemoveRowAction(event) {
            $(event.target).closest('tr').remove();
            ResetIndexes();
            OnRequermentPointsChanged();
        }

        function OnRequermentPointsChanged() {
            let inputPointsArray = new Array();
            let tableRows = document.getElementById('requermentContent').children;
            for (let i = 0; i < tableRows.length; i++) {
                inputPointsArray.push(tableRows[i].children[1].getElementsByTagName('input')[0].value);
            }

            $('#pointsSum')[0].innerHTML = inputPointsArray.reduce(function (accum, val) { return accum + Number(val); }, 0) || 0;
        }
    </script>
}