@page
@using GraduationWorksOrganizer.Web.Helpers
@model GraduationWorksOrganizer.Web.Areas.GraduationWork.Pages.AddThesesModel
@{
    ViewData["Title"] = "Добави тема";
}
<h1>@ViewData["Title"]</h1>
<hr />

<form method="post" class="helpinfodefault" data-helpmessagekey="defaulthelpmessage">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-11">
            <div class="helpinfo">
                <label>Заглавие</label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group helpinfo">
                <label>Описание:</label>
                <textarea class="multilineTextArea form-control" asp-for="Input.Description"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group helpinfo">
                <label>Тип на заданието</label>
                <input asp-for="Input.Type" />
                <span asp-validation-for="Input.Type" class="text-danger"></span>
            </div>
            <div class="form-group helpinfo">
                <label>Специалност:</label>
                <select asp-for="Input.SpecialtyId" asp-items="@Html.GetEntityEnumSelectList(Model.Specialties)"></select>
                <span></span>
            </div>

            <table class="table-border">
                <thead>
                    <tr>
                        <th style="width:25%">Име</th>
                        <th style="width:60%">Описание</th>
                        <th style="width:15%">Максимален брой точки</th>
                    </tr>
                </thead>
                <tbody id="requermentContent">
                    <tr>
                        <th>
                            <input class="form-control" />
                        </th>
                        <th>
                            <textarea class="multilineTextArea" asp-for="Input.Description"></textarea>
                        </th>
                        <th>
                            <input class="form-control" />
                        </th>
                    </tr>
                </tbody>
            </table>
            <span />
            <hr />
            <span />
            <button type="submit" class="btn btn-primary">Регистрация</button>
            <a id="addRequermentButton" class="btn btn-light">Добави изискване</a>
            <a id="addRequermentButton" class="btn btn-light">Добави изискване</a>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4 class="helptitle"></h4>
                <div>
                    <p class="helpcontent"></p>
                </div>
            </section>
        </div>
    </div>
</form>
@section Scripts{

    <script>
        $(document).ready(function () {
            let addRequermentBtn = $('#addRequermentButton');
            $(addRequermentBtn).click(function () {
                AddRequermentRow();
            })
        })

        function AddRequermentRow() {
            let requermentContent = $('#requermentContent');
            requermentContent.append(`
                                                    <tr>
                                                    <th>
                                                        <input class="form-control" />
                                                    </th>
                                                    <th>
                                                        <input class="form-control" />
                                                    </th>
                                                    <th>
                                                        <input class="form-control" />
                                                    </th>
                                                    </tr>
                                                    `)
        }
    </script>

}

