@page
@model GraduationWorksOrganizer.Web.Areas.GraduationWork.Pages.BachelorThesesListModel
@{
    ViewData["Title"] = "Теми";
}
<h1>@ViewData["Title"]</h1>
<hr />

<ul>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
    <li>THESES ITEM</li>
</ul>