@page
@model GraduationWorksOrganizer.Web.Areas.GraduationWork.Pages.ThesesCorrespondenceModel
@{
}



@if (User.IsInRole(GraduationWorksOrganizer.Common.Constants.RoleNames.TeacherRole))
{
    <h5>Файлове</h5>
    <div class="row">
        <div class="col-4">
            <table class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th>Име на файла</th>
                        <th>Размер</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GraduationWorksOrganizer.Web.Areas.GraduationWork.ViewModels.FileViewModel filevm in Model.Files)
                    {
                        <tr>
                            <td>@filevm.Name</td>
                            <td>@filevm.Size KB</td>
                            <td>
                                <a>

                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

}