@using GraduationWorksOrganizer.Common
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/BachelorThesesList" title="Manage">Theses</a>
    </li>

    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/BachelorThesesList" title="Manage">Theses</a>
        </div>
    </div>
}
