@using GraduationWorksOrganizer.Common
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
{
    <div class="dropdown">
        <button class="dropbtn">Теми</button>
        <div class="dropdown-content">
            @if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
            {
                <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/BachelorThesesList" title="Manage">Списък с теми</a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.AddTheses)).Succeeded)
            {
                <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/AddTheses" title="Manage">Добави тема</a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ApproveTheses)).Succeeded)
            {
                <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/PendingThesesList" title="Manage">Чакащи одобрение</a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
            {
                <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">Моите теми</a>
            }
        </div>
    </div>
}
@if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
{
    <div class="dropdown">
        <button class="dropbtn">ТЕСТ</button>
        <div class="dropdown-content">
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/BachelorThesesList" title="Manage">ТЕСТ</a>
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">ТЕСТ</a>
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">ТЕСТ</a>
        </div>
    </div>
}
@if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
{
    <div class="dropdown">
        <button class="dropbtn">ТЕСТ</button>
        <div class="dropdown-content">
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/BachelorThesesList" title="Manage">ТЕСТ</a>
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">ТЕСТ</a>
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">ТЕСТ</a>
        </div>
    </div>
}
@if ((await AuthorizationService.AuthorizeAsync(User, Constants.PolicyNames.ViewTheses)).Succeeded)
{
    <div class="dropdown">
        <button class="dropbtn">ТЕСТ</button>
        <div class="dropdown-content">
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="/BachelorThesesList" title="Manage">ТЕСТ</a>
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">ТЕСТ</a>
            <a class="nav-link text-dark" asp-area="GraduationWork" asp-page="" title="Manage">ТЕСТ</a>
        </div>
    </div>
}
