@page
@model GraduationWorksOrganizer.Web.Areas.Commissions.Pages.CreateCommissionModel
@{
}

<h1>Създаване на комисия</h1>
<div class="col">
    @foreach (GraduationWorksOrganizer.Web.SharedViewModels.TeacherViewModel teacher in Model.Тeachers)
    {
        <div class="row">
            <img id="img" width="256" height="256" src="data:image/png;base64,@Convert.ToBase64String(teacher.Image)" alt="default" />
        </div>
        <div class="row">

        </div>
    }
</div>
<div class="col">

</div>